@CHARSET "utf-8";

#content {

}




.slogan {
	padding-top: 6.275em;
	padding-bottom: 3.275em;
	margin-bottom: 2em;
	margin-top: 0;
	border-bottom: 1px solid #900;
	background: #900
}

.slogan h1 {
	color: #f90;
	margin-bottom: .5em;
}

.slogan p {
	font-size: 1.3em;
	color: #fff;
}



/********************************* PAGE HOME *******************/

#slogan-home {
	min-height: 200px;
}


#features {
	margin-bottom: 2em;
}

#features h3 {
	color: #900;
}


/********************************* PAGE FEATURES *******************/

#slogan-features {
	height: 135px;
}





/********************************* PAGE DOWNLOADS *******************/

#slogan-downloads {
}

/* Listado de descargas */

.download-package {
	margin-bottom: 4em;
}

 .download-list {
	list-style: none;
	margin: 0;
	padding: 0;
 }
 
 .download-list li {
 	display: block;
 	line-height: 2.4;
 	height: 2.4em;
 	border-bottom: 1px solid #ccc;
 	clear: both;
}

.download-name {
	width: 200px;
	display: block;
	color: #900;
	float: left;
}

.download-action {
	width: 100px;
	display: block;
	float: right;
	color: #000;
	text-align: right;
}

.download-action a {
	color: #000;
}


/********************************* FOOTER *******************/
#footer {
	margin-top: 2em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: 1px solid #ccc;
	background: #efefef;
}